@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{margin: 0px; padding: 0px;}
a{text-decoration: none;}
html,body{
  min-width: 1200px;
  font-size: 10px;
  width: 100%;
  height: 100%;
}
ul,li{list-style: none;}
body{
    width: 100rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.4rem;
    overflow-x: hidden;
}

/*레이아웃 구조 */

#wrap{
  position: relative;
  width: 100vw;
  height: 100vh;
  background: pink;
}
#main_header{
  position: relative;
  overflow: hidden;
}

#gnb{
  position: relative;
}
#gnb tr td{
  border: 1px solid #d7d5d1;
  height: 50px;
}
#gnb> tr> td:first-child{
  border: 1px solid #d7d5d1;
  background: #4e6473;
  height: 50px;
}

/* main gnb */

  #main_header{
    width: 100%;
  }
  #main_haeader tr td:hover #sub_menu{
    background: red;
  }
  #sub_wrap{
    position: relative;
    background: red;
  }
  .sub_menu{
    height: 190px;
  }
  tr.sub_menu > td{
    text-align: center;
    line-height: 35px;
    border: 1px solid #d7d5d1;
  }

footer {
  width: 100vw;
  background: #333;
  overflow: hidden;
  border-top: 1px solid #856560;
  color:#fff;
}
/* gnb style */

/* gnb submenu*/




/* footer*/





/* top menu*/





/* 기본 Btn style */
