@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{margin: 0px; padding: 0px;}
a{text-decoration: none;}
html,body{width: 100%; min-width: 1200px; font-size: 18px;}
ul,li{list-style: none;}
body{  font-family: 'Noto Sans KR', sans-serif;}

/*레이아웃 구조 */

#wrap{
  position: relative;
  width: 100%;
}
#main_header{
  height: 100px;
  overflow: hidden;
}
#gnb{
  position: relative;
}
#gnb tr td{
  border: 1px solid #d7d5d1;
  background: #4e6473;
  height: 50px;
}

/* main gnb */

  #main_header{
    width: 100%;
  }
  #main_header:hover #sub_wrap{
    visibility:visible;
    top: 0;
  }
  #sub_wrap{
    position: relative;
    background: red;
    top:-300px;
    overflow: hidden;
    visibility:hidden;
    transition: top ease 1s 0s;

  }
  .sub_menu{
    height: 190px;
  }
  tr.sub_menu > td{
    text-align: center;
    line-height: 35px;
    border: 1px solid #d7d5d1;
  }

/* gnb style */

/* gnb submenu*/




/* footer*/





/* top menu*/





/* 기본 Btn style */
