//변수값

$wrapWith: 1920px;

//font
$titleFont: 54px;
$FontSmallSize:20px;
$bagicFontSize:18px;
$cardBaceFontSize:14px;

//font Color
$titleFontColor: #795049;
$maintextColor: #918583;
$footerFontColor:#978583;


//background color
$heaerBackColor: #4e6473;
$backBagicColor: #fcf7ea;
$cardBackgrond:#fcfbf4;
$musicSecBackColor: #f3efe2;
$siteMenuBackColor: #553921;

//border color
$gnbBorderColor:#d7d5d1;
$siteDecoline:#d7c6b2;
$footerBorderColor:#856560;
